:root {
    --main_bg_color: url("/static/img/background/1.jpg");
    --main_text_color: #ffffff;
    --gradient: linear-gradient(120deg, #bd34fe, #e0321b 30%, #41d1ff 60%);
    --purple_text_color: #747bff;
    --text_bg_color: rgba(0, 0, 0, 0.4);
    --item_bg_color: rgba(0, 0, 0, 0.2);
    --item_hover_color: rgba(0, 0, 0, 0.3);
    --item_left_title_color: #ffffff;
    --item_left_text_color: #eeeeee;
    --footer_text_color: #ffffff;
    --left_tag_item: rgba(255, 255, 255, 0.1);
    --card_filter: 0px;
    --back_filter: 0px;
    --back_filter_color: transparent;
    --fill: #ffffff;
}
